@font-face {
    font-family: norse-font;
    src: url(../fonts/Norse-Bold.otf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
}

form {
    height: fit-content;
    width: 100%;
    /* DELETE BELOW */
    border: solid, 3px, blue;
}

form, h2, .login, .submit {
    margin-left:5%;

} 

#form-container {
    border: solid, 3px, gray;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /*DELETE BELOW */
    border: solid, 3px, red;
}

#odin-img {
    height: 6rem;
}

#sidebar-container {
    /* sidebar image found downloaded from site listed below */
    /* https://unsplash.com/photos/a-blurry-photo-of-a-carnival-ride-7utzACgbCdE */
    background-image: url(../images/jason-leung-7utzACgbCdE-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: clamp(27%, 30vw, 33vw);

    /* DELETE BELOW */
    border: solid, 3px, black;
}

#sidebar-content {
    align-items: center;
    background: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-family: norse-font, sans-serif;
    font-size: 5rem;
    justify-content: center;
    opacity: 0.6;
    position: relative;
    text-align: center;
    top: 25%;
}

.element-group {
    width:60%
}

.element-group:first-of-type{
    margin-top: 15px;
}

.form-element {
    display: flex;
    flex-direction: column;
}

.form-submit {
    position:relative;
    top: 45px;
    color: white;
    background-color: #596D48;
}

.login {
    position:relative;
    top: 70px;

}
.sidebar-footer {
    text-align: center;
}